services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-lifecycle'
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      #- GF_SERVER_ROOT_URL=http://localhost:3000
    restart: unless-stopped
  
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "9100:9100"
    restart: unless-stopped
    network_mode: "host"
    pid: "host"
    volumes:
      # - /proc:/host/proc:ro
      # - /sys:/host/sys:ro
      - /:/host:ro,rslave
    command:
#      - '--path.proc=/host/proc'
      - '--path.rootfs=/host'
#      - '--collector.filesystem.ignored-mount-points="^/(sys|proc|dev|host|etc)($$|/)"'
#  cadvisor:
#    image: google/cadvisor:latest
#    container_name: cadvisor
#    volumes:
#      - /:/rootfs:ro
#      - /var/run:/var/run:ro
#      - /sys:/sys:ro
#      - /var/lib/docker/:/var/lib/docker:ro
#    ports:
#      - "8080:8080"
#    restart: unless-stopped
#    devices:
#      - "/dev/kmsg:/dev/kmsg:ro"
#

volumes:
  prometheus_data:
  grafana_data: